/* NEW */
@font-face {
    font-family: "Header";
    src: local("Header"),
		url("../fonts/Roboto-Condensed.ttf") format("truetype");
}

* {
    box-sizing: border-box;
}

/* END */



html,
body {
    margin: 0;
    /* NEW */
    font-size: 20px;
    font-family: "Header";
    /* END */
}

a {
    text-decoration: none;
	color: #111;
}



.header {

	background-image: linear-gradient(315deg, #36096d 0%, #37d5d6 74%);
    padding: 35px 0;
}

.logo {
	background-size: cover;
}

.container {
    width: 90%;
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 10%;
    margin-right: auto;
}

.header-right {
    display: flex;
    align-items: center;
    margin-left: 10%;
}

.header-right-form a {
	font-family: "Header";
    align-items: center;
    color: white;
	margin-left: 200px;
	
}

/* Merge? */
.search-form {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 270px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, .2);
    padding-left: 5px;
    padding-right: 10px;
	background-color: white;
}

input {
    outline: 0;
    border: none;
    background: none;
}

.search-input {
    color: #111;
    width: 90%;
    height: 100%;
    font-size: 14px;
}

::-webkit-input-placeholder {
    color: #111
}

:-moz-placeholder {
    color: #fff
}

::-moz-placeholder {
    color: #fff
}

:-ms-input-placeholder {
    color: #fff
}



.search-i {
    color: #111;
}


/* NEW */
.menu {
    height: 60px;
}

.menu__container {
    position: relative;
}

.catalog_icon {
    width: auto;
    height: auto;
    box-sizing: border-box;
}

.catalog_icon_i {
    position: relative;
    display: block;
    width: 30px;
    height: 4px;
    margin: 0 1px;
    transition: transform .3s,background-color .3s;
    background-color: #000; 
    
}

.catalog_icon_i:not(:first-child) {
    margin-top: 3px;
}

.catalog {
    position: absolute;
    width: 260px;
    top: 0;
    background-color: #fff;
}

.catalog__header {
	font-size: 26px;
    height: 60px;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #e0e0e0;
    border-bottom: none;
    border-top: none;
	
    align-items: center;
    display: flex;
}


.catalog__list {
	
	width: 100%;
	visibility: hidden;
    opacity: 0;
    position: absolute;
    z-index: 10;
    background-color: #fff;
    transition: opacity .3s;
}


ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.catalog__link {
	font-size: 26px;
    height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #e0e0e0;
    border-bottom: none;
    align-items: center;
    display: flex;
}

.catalog__link-img {
    margin-right: 10px;
    margin-top: -3px;
}

.catalog__subcatalog {
    width: 867px;
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    left: 280px;
    top: 0;
    height: auto;
    padding: 20px;
    transition: all .3s;
}

.collections_subcatalog {
    display: flex;
    flex-wrap: wrap;
}

.collections_subcatalog_item {
    margin: 5px;
}

.collections_subcatalog_item>a {
    font-size: large;
    font-weight: 700;
    color: green;
}

.catalog__wrapper:hover > .catalog__list{
    visibility: visible;
    opacity: 1;
}


.catalog__item:hover .catalog__subcatalog {
    opacity: 1;
    visibility: visible;
    left: 260px;
}

.catalog__subcatalog-link {
    display: block;
    position: relative;
    font-size: 26px;
    color: #111;
    padding-top: 5px;
    padding-bottom: 5px;
}

.collections_subcatalog_item ul ul{ 
    visibility: hidden;
    opacity: 0;
    transition: visibility 1s, opacity 0.5s ease-out;
    position: absolute;
    box-shadow: 0 5px 20px rgb(0 0 0 / 10%);
    border-radius: 5px;    
    font-size: 14px;
    line-height: 18px;
    background: #fafafa;
    padding: 24px;
    z-index: 10;
    width: auto;
    min-width: 300px;
    margin-left: 50px;
}   

.collections_subcatalog_item a{
	font-size: 28px;
}

.collections_subcatalog_item ul li:hover > ul {
    visibility: visible;
    opacity: 1;
}

span{
	margin-left: 12px;
}

.log-out {
	font-family: "Header";
    color: white;
	display: inherit;
	margin-left: 150px;
}

.log-out-logo {
    margin-left: 5px;
}



p {
    margin: 0;
    padding: 0;
}

img {
    border-style: none;
}




a:hover {
    color: #cb2d41;
}

/* END */